<h1>Contact Us</h1>

<%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<form>
  <div class="form-group">
    <label for="name">Name</label>
      <input type="name" class="form-control name" id="name" placeholder="Enter your name..." required / name="name">
  </div>
  <div class="form-group">
    <label for="email" required>Email Address*</label>
      <input type="email" class="form-control email" id="email" required placeholder="Enter your Email address..." / name="emial">
  </div>
  <textarea style="resize:none" cols="40" rows="5" class="form-control" id="message-area" placeholder="Your message..." name="message" required ></textarea>
    <p id="visible-comment"></p>
    <p id="char-count"></p>
  <button type="submit" class="btn btn-secondary" id="button">Submit</button>
</form>
<% end %>
