/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */

h1{
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
}
.nav{
  position: absolute;
  right: 16px;
  text-align: left;
  top: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
}
li {
  display: inline;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color:#FEFEFE
}
a:hover {
  background-color: yellow;
}

.header {
  overflow: hidden;
  background-color: #E10C0C;
  padding: 20px 10px;
}
.footer{
  background-color: #E10C0C;
  padding: 20px 10px;
  color: white;
}
/* Images */
// img {
//   width: 75%;
//   height: 500px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
.row{
  width: 100%;
}
/* Search Bar */
.search {
  padding-top: 3px;
}
