*= require bootstrap/dist/css/bootstrap

h1{
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
}
nav{
  position: absolute;
  right: 16px;
  text-align: left;
  top: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
}
li {
  display: inline;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color:#FEFEFE
}
a:hover {
  background-color: yellow;
}

.header {
  overflow: hidden;
  background-color: #E10C0C;
  padding: 20px 10px;
}
.footer{
  background-color: #E10C0C;
  padding: 20px 10px;
  color: white;
}
