// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Images */
img {
  width: 75%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row{
  width: 100%;
}
