  <div class="col-sm">
    <a href="products/1">
  <%= image_tag(product.image_url, class: "img-fluid") %>
    </a>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
  </div><!-- /col -->
